.loginScreen {
	display: flex;
	justify-content: center;
	height: 400px;
	margin-top: 100px;
}
.loginScreenModal {
	width: 50%;
	min-width: 500px;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.38);
}

.loginScreenheader {
	height: 60px;
	color: #636363;
	font-weight: bold;
	padding-left: 50px;
	font-size: 20px;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.38);
	display: flex;
	align-items: center;
}

.loginScreenContent {
	color: #636363;
	padding: 10px 0;
}

.loginScreenchoice {
	height: 180px;
	display: flex;
	flex-direction: column;
	padding: 40px 0px 40px 50px;
	justify-content: space-around;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.38);
}
