body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

.upgrad {
	width: 100%;
}

.header {
	height: 80px;
	display: flex;
	align-items: center;
	padding-left: 20px;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.38);
}

.upgradImage {
	height: 40px;
}
